<h1>Welcome to Doppelgangers Central!</h1>
<!-- FBGallery 592507767875 --> <!--/FBGallery -->
I enjoy spotting look alikes and this photo album has become quite popular amongst my friends.  Do we see eye to eye?  <b>Leave me a comment to let me know!</b>


<ul>
	<% @pictures.each do |picture| %>
		<li><img src="<%= picture[:url] %>"/></li>
		<div>
			<%= form_tag("comment", method: "post") do %>
			  <%= label_tag(:comment, "comment:") %>
			  <%= text_field_tag(:comment) %>
			  <%= hidden_field_tag(:facebook_id, picture[:id]) %>
			  <%= submit_tag("submit") %>
			<% end %>

			<%= render 'comment' %>
			<%= Picture.get_comments_for(picture[:id]) %>

		</div>
	<% end %>
</ul>

